{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'product_add' %}">Добавить</a>
    <a href="{% url 'basket_index' %}">Корзина</a>
{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <h1>Основная страница</h1>
    {% for product in products %}
        <div class="blocks">
            <h2>Описание: {{ product.title }}</h2>
            <h2>Подробно: {{ product.description }}</h2>
            <h2>Кол-во: {{ product.count }}</h2>
            <h2>{{ product.created_at }}</h2>
            <p>
                <a href="{% url 'product_detail' product.pk %}">Подробнее о продукте..</a>
                <a href="{% url 'basket_add' %}">Добавить в корзину</a>
            </p>
        </div>
    {% empty %}
            <p class="NOT_FOUND">Products not found!</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
</body>
</html>